* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.app {
  position: relative;
}

.section {
  position: relative;
}

.section .small-text {
  text-align: center;
  font-size: 1.5em;
}

.heading {
  font-size: 3em;
  text-align: center;
  margin-top: 2em;
}
