* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.app {
  position: relative;
}

.app .section {
  position: absolute;
  top: 50%;
  left: 50%;
}
